# /FCFS/nbproject/private/
# /FCFS/build/
# /FCFS/dist/
/Lab5/SRTN/nbproject/private/
/Lab5/SRTN/build/
/Lab5/SRTN/dist/
/Lab5/RRS/nbproject/private/
/Lab5/RRS/build/
/Lab5/Test2/nbproject/private/
/Lab5/Test2/build/
/Lab5/GetSet/nbproject/private/
/Lab5/GetSet/build/
/Lab5/InheritTest/nbproject/private/
/Lab5/InheritTest/build/
/Lab5/InheritTest/dist/
/Lab6/Thread/nbproject/private/
/Lab6/Thread/build/